
<p id="notice"><%= notice %></p>

<h1>Scrapy Configs</h1>
<table>
  <thead>
  <tr>
    <th>Client</th>
    <th>Tgm assigned mailbox</th>
    <th>Approved senders</th>
    <th>Approved mail subjects</th>




    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <div class="group">
  <% @scrapy_configs.each do |scrapy_config| %>
    <tr>
      <td><%= scrapy_config.client_id %></td>
      <td><%= scrapy_config.tgm_assigned_mailbox %></td>
      <td><%= scrapy_config.approved_senders.join(", ") %></td>
      <td><%= scrapy_config.approved_mail_subjects.join(", ")%></td>

      <td><%= link_to 'Show', scrapy_config %></td>
      <td><%= link_to 'Edit', edit_scrapy_config_path(scrapy_config) %></td>
      <td><%= link_to 'Destroy', scrapy_config, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <tbody>



  <% @scrapy_configs.each do |att| %>
    <td><%att.attachments.each do |a|%></td>
        <td><%= a.type_of_attachment %></td>
      <%end%>
  <% end %>
  </tbody>
  </table>



</div>




<br>

<%= link_to 'New Scrapy Config', new_scrapy_config_path %>
