<p id="notice"><%= notice %></p>

<p>
  <strong>Attachment type:</strong>
  <%= @attachment.attachment_type %>
</p>

<p>
  <strong>Attachment name:</strong>
  <%= @attachment.attachment_name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @attachment.priority %>
</p>

<p>
  <strong>Scrapy config:</strong>
  <%= @attachment.scrapy_config %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
